body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('https://w.wallhaven.cc/full/kw/wallhaven-kw6rpd.jpg');
    background-size: cover;
    background-position: center;
}

form {
    background-color: #f2f2f2;
    opacity: 75%;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: fit-content;
    max-width: 90%;
}

h2 {
    color: #333;
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
}

input[type-text],
input[type-email],
input[type-password] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #abbcda;
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #663399;
}

@media (max-width: 768px) {
    body {
        padding: 20px;
        flex-direction: column;
    }

    form {
        width: 100%;
        margin: 0;
        box-shadow: none;
    }
}

#implementasiInfo {
    background-color: #f2f2f2;
    opacity: 0.75;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: fit-content;
    max-width: 90%;
    display: none;
}